NWNX2/src/DBG/nwnx-module.pdb
NWNX2/src/DBG/NWNX2.pdb
NWNX2/src/ipch/nwnx2-da66d924/nwnx2-87104d.ipch
NWNX2/src/ipch/nwnx2-da66d924/nwnx2-db59d053.ipch
NWNX2/src/ipch/nwnxdll-f7050ff8/nwnxdll-d7a6c957.ipch
NWNX2/src/NWNX2.sdf
NWNX2/readme.txt.bak
NWNX2/src/NWNX2/Debug/cl.command.1.tlog
NWNX2/src/NWNX2/Debug/CL.read.1.tlog
NWNX2/src/NWNX2/Debug/CL.write.1.tlog
NWNX2/src/NWNX2/Debug/IniFile.obj
NWNX2/src/NWNX2/Debug/nwnserver.obj
NWNX2/src/NWNX2/Debug/NWNX2.exe.embed.manifest
NWNX2/src/NWNX2/Debug/NWNX2.exe.embed.manifest.res
NWNX2/src/NWNX2/Debug/NWNX2.lastbuildstate
NWNX2/src/NWNX2/Debug/NWNX2.log
NWNX2/src/NWNX2/Debug/NWNX2.obj
NWNX2/src/NWNX2/Debug/NWNX2.pch
NWNX2/src/NWNX2/Debug/NWNX2.res
NWNX2/src/NWNX2/Debug/NWNX2.unsuccessfulbuild
NWNX2/src/NWNX2/Debug/NWNX2_manifest.rc
NWNX2/src/NWNX2/Debug/NWNX2Dlg.obj
NWNX2/src/NWNX2/Debug/rc.command.1.tlog
NWNX2/src/NWNX2/Debug/rc.read.1.tlog
NWNX2/src/NWNX2/Debug/rc.write.1.tlog
NWNX2/src/NWNX2/Debug/StdAfx.obj
NWNX2/src/NWNX2/Debug/udp.obj
NWNX2/src/NWNX2/Debug/vc100.idb
NWNX2/src/NWNX2/Debug/vc100.pdb
NWNX2/src/NWNX2/Debug/watchdoggamespy.obj
NWNX2/src/NWNX2/Debug/watchdogprocess.obj
NWNX2/src/NWNX2/NWNX2.vcxproj.user
NWNX2/src/NWNX2/Release/BscMake.command.1.tlog
NWNX2/src/NWNX2/Release/bscmake.read.1.tlog
NWNX2/src/NWNX2/Release/bscmake.write.1.tlog
NWNX2/src/NWNX2/Release/cl.command.1.tlog
NWNX2/src/NWNX2/Release/CL.read.1.tlog
NWNX2/src/NWNX2/Release/CL.write.1.tlog
NWNX2/src/NWNX2/Release/IniFile.obj
NWNX2/src/NWNX2/Release/IniFile.sbr
NWNX2/src/NWNX2/Release/link-cvtres.read.1.tlog
NWNX2/src/NWNX2/Release/link-cvtres.write.1.tlog
NWNX2/src/NWNX2/Release/link.command.1.tlog
NWNX2/src/NWNX2/Release/link.read.1.tlog
NWNX2/src/NWNX2/Release/link.write.1.tlog
NWNX2/src/NWNX2/Release/mt.command.1.tlog
NWNX2/src/NWNX2/Release/mt.read.1.tlog
NWNX2/src/NWNX2/Release/mt.write.1.tlog
NWNX2/src/NWNX2/Release/nwnserver.obj
NWNX2/src/NWNX2/Release/nwnserver.sbr
NWNX2/src/NWNX2/Release/NWNX2.bsc
NWNX2/src/NWNX2/Release/NWNX2.Build.CppClean.log
NWNX2/src/NWNX2/Release/NWNX2.exe.intermediate.manifest
NWNX2/src/NWNX2/Release/NWNX2.lastbuildstate
NWNX2/src/NWNX2/Release/NWNX2.log
NWNX2/src/NWNX2/Release/NWNX2.obj
NWNX2/src/NWNX2/Release/NWNX2.pch
NWNX2/src/NWNX2/Release/NWNX2.res
NWNX2/src/NWNX2/Release/NWNX2.sbr
NWNX2/src/NWNX2/Release/NWNX2Dlg.obj
NWNX2/src/NWNX2/Release/NWNX2Dlg.sbr
NWNX2/src/NWNX2/Release/rc.command.1.tlog
NWNX2/src/NWNX2/Release/rc.read.1.tlog
NWNX2/src/NWNX2/Release/rc.write.1.tlog
NWNX2/src/NWNX2/Release/StdAfx.obj
NWNX2/src/NWNX2/Release/StdAfx.sbr
NWNX2/src/NWNX2/Release/udp.obj
NWNX2/src/NWNX2/Release/udp.sbr
NWNX2/src/NWNX2/Release/vc100.pdb
NWNX2/src/NWNX2/Release/watchdoggamespy.obj
NWNX2/src/NWNX2/Release/watchdoggamespy.sbr
NWNX2/src/NWNX2/Release/watchdogprocess.obj
NWNX2/src/NWNX2/Release/watchdogprocess.sbr
NWNX2/src/NWNXdll/Debug/cl.command.1.tlog
NWNX2/src/NWNXdll/Debug/CL.read.1.tlog
NWNX2/src/NWNXdll/Debug/CL.write.1.tlog
NWNX2/src/NWNXdll/Debug/HashTable.obj
NWNX2/src/NWNXdll/Debug/IniFile.obj
NWNX2/src/NWNXdll/Debug/link.command.1.tlog
NWNX2/src/NWNXdll/Debug/link.read.1.tlog
NWNX2/src/NWNXdll/Debug/link.write.1.tlog
NWNX2/src/NWNXdll/Debug/NWNXBase.obj
NWNX2/src/NWNXdll/Debug/NWNXdll.dll.embed.manifest
NWNX2/src/NWNXdll/Debug/NWNXdll.dll.embed.manifest.res
NWNX2/src/NWNXdll/Debug/NWNXdll.lastbuildstate
NWNX2/src/NWNXdll/Debug/NWNXdll.log
NWNX2/src/NWNXdll/Debug/NWNXdll.obj
NWNX2/src/NWNXdll/Debug/NWNXdll.res
NWNX2/src/NWNXdll/Debug/NWNXdll.unsuccessfulbuild
NWNX2/src/NWNXdll/Debug/NWNXdll_manifest.rc
NWNX2/src/NWNXdll/Debug/rc.command.1.tlog
NWNX2/src/NWNXdll/Debug/rc.read.1.tlog
NWNX2/src/NWNXdll/Debug/rc.write.1.tlog
NWNX2/src/NWNXdll/Debug/vc100.idb
NWNX2/src/NWNXdll/Debug/vc100.pdb
NWNX2/src/NWNXdll/NWNXdll.vcxproj.user
NWNX2/src/NWNXdll/Release/BscMake.command.1.tlog
NWNX2/src/NWNXdll/Release/bscmake.read.1.tlog
NWNX2/src/NWNXdll/Release/bscmake.write.1.tlog
NWNX2/src/NWNXdll/Release/cl.command.1.tlog
NWNX2/src/NWNXdll/Release/CL.read.1.tlog
NWNX2/src/NWNXdll/Release/CL.write.1.tlog
NWNX2/src/NWNXdll/Release/HashTable.obj
NWNX2/src/NWNXdll/Release/HashTable.sbr
NWNX2/src/NWNXdll/Release/IniFile.obj
NWNX2/src/NWNXdll/Release/IniFile.sbr
NWNX2/src/NWNXdll/Release/link-cvtres.read.1.tlog
NWNX2/src/NWNXdll/Release/link-cvtres.write.1.tlog
NWNX2/src/NWNXdll/Release/link.command.1.tlog
NWNX2/src/NWNXdll/Release/link.read.1.tlog
NWNX2/src/NWNXdll/Release/link.write.1.tlog
NWNX2/src/NWNXdll/Release/mt.command.1.tlog
NWNX2/src/NWNXdll/Release/mt.read.1.tlog
NWNX2/src/NWNXdll/Release/mt.write.1.tlog
NWNX2/src/NWNXdll/Release/nwnx-module.Build.CppClean.log
NWNX2/src/NWNXdll/Release/nwnx-module.dll.intermediate.manifest
NWNX2/src/NWNXdll/Release/NWNXBase.obj
NWNX2/src/NWNXdll/Release/NWNXBase.sbr
NWNX2/src/NWNXdll/Release/NWNXdll.bsc
NWNX2/src/NWNXdll/Release/NWNXdll.lastbuildstate
NWNX2/src/NWNXdll/Release/NWNXdll.log
NWNX2/src/NWNXdll/Release/NWNXdll.obj
NWNX2/src/NWNXdll/Release/NWNXdll.res
NWNX2/src/NWNXdll/Release/NWNXdll.sbr
NWNX2/src/NWNXdll/Release/rc.command.1.tlog
NWNX2/src/NWNXdll/Release/rc.read.1.tlog
NWNX2/src/NWNXdll/Release/rc.write.1.tlog
NWNX2/src/NWNXdll/Release/vc100.pdb
